* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat';
    background: black;
    color: #fff;
  }
  
  .live {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 30px 0 0 20px;
    margin-bottom: 20px;
  }
  
  .live .person {
    position: relative;
    margin-right: 30px;
    text-align: center;
  }
  
  .live .profile-pic {
    position: relative;
    background-position: 50%;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .live .person:nth-child(1) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657462787231-bccb838cd96eimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  .live .person:nth-child(2) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657481493009-efc6a72cf331image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  .live .person:nth-child(3) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657482038709-0edb18e2f17dimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  .live .person:nth-child(4) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657482701186-4095a6f3a75dimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  .live .person:nth-child(5) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657481591009-79388f7d5fd0image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  .live .person:nth-child(6) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657481688970-1060b757685bimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  .live .person:nth-child(7) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657481771105-409153bab6b0image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  .live .person:nth-child(8) .profile-pic {background-image: url('https://images.unsplash.com/profile-1657481855667-5b67fb9e5c50image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');}
  
  
  .live .profile-pic::before {
    content: '';
    display: inline-block;
    border: 3px solid #454D5A;
    padding: 24px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .live .person .name {
    font-size: 12px;
    padding-top: 20px;
  }
  
  .live-active .profile-pic:before {
    border-color: #FFDF3B !important;
  }
  
  .live-active span {
    background: #FFDF3B;
    color: #000;
    width: 50px;
    display: inline-block;
    font-size: 10px;
    border-radius: 50px;
    padding: 2px 0;
    font-weight: 600;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .live-active i {
    padding-right: 3px;
  }
  
  .newsfeed {
    padding: 0 20px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    background: black;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .card .picture {
    background-image: url('https://images.unsplash.com/photo-1554068292-ce72e2521c9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=800');
    background-position: 50%;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card .content {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
  }
  
  .card .header {
    display: flex;
    align-items: center;
  }
  
  .card .profile-pic {
    background-image: url('https://images.unsplash.com/profile-1657462787231-bccb838cd96eimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff');
    background-position: 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .card .detail {
    margin-left: 10px;
  }
  
  .card .posted {
    font-size: 10px;
    padding-top: 3px;
  }
  
  .card .desc {
    padding-top: 10px;
    line-height: 1.5;
  }
  
  .card .tags {
    font-size: 12px;
    color: #FFDF3B;
    padding-top: 10px;
  }
  
  .card .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .card .footer .like {
    flex: 0 0 25%;
  }
  
  .card .footer .comment {
    flex: 1;
  }
  
  .card .footer .share {
    flex: 0 0 18%;
  }
  
  .card .footer i {
    padding-right: 3px;
  }
  
  .nav {
    background: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -4px 25px 0 rgba(0, 0, 0, .12);
  }
  
  .nav .icon {
    flex: 1;
    text-align: center;
    color: #8E919A;
  }
  
  .nav .icon i {
    padding-bottom: 10px;
    font-size: 20px;
  }
  
  .nav .icon p {
    font-size: 12px;
  }
  
  .active {
    color: #FFDF3B !important;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .space {
    height: 200px;
  }